body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
.book {
    &__page {
        position: relative;
        width: 21cm;
        min-height: 29.7cm;
        padding: 2cm;
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    &__subpage {
        height: 256mm;
        outline: 2cm #fff solid;
    }
    &__title {
        font-weight: 900;
        font-size: 16px;
        text-align: center;
        margin-bottom: 30px;
    }
    &__subtitle {
        font-size: 14px;
        line-height: 12px;
        font-style: italic;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    &__descr {
        font-size: 12px;
        text-indent: 1.5em;
        text-align: justify;
        margin-top: 10px;
    }
}



@page {
    size: A4;
    margin: 0;
}
@media print {
    .book__page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.print {
    &__icon {
        font-size: 45px;
        position: absolute;
        right: 2cm;
        bottom: 250px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: $main-color;
        }
    }
}