.resume {
    padding-top: 120px;
    &__wrapper {
        padding: 60px 77px 0;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 136px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &::before {
                content: '';
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: $main-color;
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top: -7px;
                    left: 0;
                    width: 1px;
                    height: calc(100% + 7px);
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            height: 1px;
            width: 45px;
            background-color: #000;
            position: absolute;
            top: 62px;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
        }
        &-icon {
            @include before_circle;
            position: absolute;
            top: 45px;
            left: 45px;
            img {
                position: absolute;
                left: 17px;
                top: 14px;
            }
        }
        &-location {
            font-size: 12px;
            margin-top: 2px;
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-size: 12px;
        }
    }
}